/* resets */
table {
	margin: 0px;
}
/* resets */


/* check box in search results */
.search-checkbox {
	background: url(images/checkbox.png) no-repeat;
	display: block;
	cursor: pointer;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	width: 22px;
	height: 22px;
	padding-top:3px;
	padding-left:3px;
	/* position */
	float: right;
	position: relative;
	right: 0;
	top: 25px;
	z-index: 1;
}

.search-checkbox.checked {
	background: url(images/checkbox-hover.png) no-repeat;
}

.views-field-sell-price {
	float: left;
	display: block;
	height: 40px;
	width: 40px;
	position: relative;
	z-index: 1;
	top: 30px;
}


.proceed_to_cart {
	float: right;
	width: 211px;
	diplay: inline;
}

.proceed_to_cart .disabled {
	opacity: 0.4;
	filter: alpha(opacity = 40); /* msie */
	cursor: default;
}

.proceed_to_cart a {
	font-size: 14px;
	text-align: center;
	float: right;
	width: 211px;
	height: 39px;
	padding: 0px 0 3px 8px;
	position: relative;
}

.i18n-en .proceed_to_cart a {
	background: transparent url(images/proceed-to-checkout.png) no-repeat scroll 0px 0px;
}

.i18n-ru .proceed_to_cart a {
	background: transparent url(images/proceed-to-checkout-ru.png) no-repeat scroll 0px 0px;
}

.proceed_to_cart a {
	color: #34373A;
}

.summary_item_cost {
	width: 150px;
	float: left;
}

.page-search-result .fieldset-wrapper {
	width: 980px;
	border: 1px solid #ccc;
	float: left;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-left: -10px;
}

#photo_cost {
   float:left;
   /*padding:0 0 0px 100px;*/
   height:20px;
}
.photo_cost, .photo_author
{
   float:right;
    margin-left:5px;
    color:#ff6600;
    font-weight:normal;
}
#photo_author
{
   clear:both;
   float:left;
   padding:0 0 0px 0;
   height:20px;
}

#search-result-cart
{
   float:left;
}

#add_to_cart
{
    height:37px;
   color:#34373a;
   font-size:14px;
   padding-left:38px;
   border:0 none;
   cursor:pointer;
   outline:none;
   font-family:Arial,Helvetica,sans-serif,Sans-Serif;
   font-weight: bold;
   position: relative;
   top: -22px;
   right: 0px;
   float: right;
   margin-top:0px;
   margin-right:10px;
   -webkit-transition: none;
}

.search-add-button {
	 width:139px;
}

.search-fb-like {
    display: inline;
    clear:both;
    float: left;
    margin-left: 20px;
    top: 10px;
    z-index:20;
    position: absolute;
}
	
.i18n-en .search-add-button {
	background: url(images/add-to-cart.png) no-repeat scroll 0 0 transparent !important;
}

.i18n-ru .search-add-button {
	background: url(images/add-to-cart-ru.png) no-repeat scroll 0 0 transparent !important;
}

.i18n-en .search-remove-button {
	width:183px;
 	background: url(images/remove-from-cart.png) no-repeat scroll 0 0 transparent !important;
}

.i18n-ru .search-remove-button {
	width:139px;
 	background: url(images/remove-from-cart-ru.png) no-repeat scroll 0 0 transparent !important;
}

.page-search-result #edit-search-filter .form-submit {
	float:left;
	margin-left:20px;
}

#field-event label {
	color: rgb(148, 187, 31);
	width: 455px;
}

#field-number label {
	color: rgb(74, 176, 248);
	width: 200px;
	clear: right;
}

#field-number label, #field-event label {
	margin-bottom: 3px;
	margin-left: 0px;
}

#field-event span.form-required,#field-number span.form-required {
	display: none;
}

.page-search-result #edit-search {
	margin-top: 44px;
}

.page-search-result .form-item {
	margin-top: 0px;
	margin-bottom: 0px;
}

.page-search-result #center {
	width: 100%;
	float: left;
}

.page-search-result .contextual-links-region {
	float: left;
	/*width: 435px;*/
}

.thumbnail {
	border: 1px solid #E9E9E9;
}

.image-thumbnail img.selected-thumbnail {
	border: 1px solid green;
}

.image-thumbnail {
	height: 150px;
	width: 150px;
}

.page-search-result .left-corner {
	float: left;
}

.page-search-result .left-corner .clearfix {
	width: 980px;
}

.page-search-result .form-item-runner-number,
.page-search-result .form-item-event {
	float: left;
	padding: 20px;
}

form#search-photos-form {
	clear: both;
	display: block;
}

/* *********** View with results ************* */
.page-search-result .region-content .view-content {
	float: left;
	height: 640px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 550px;
	border: 1px solid #CCC;
}

.view-footer {
	float: right;
	margin-top: -20px;
	}

.view-search-results {
	float: left;
	clear: left;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.view-header {
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 30px;
	width: 550px;
	float:left;
}

.search-remove-all,
.search-select-all {
	padding-top: 5px;
	float: right;
	margin-right: 10px;
	cursor: pointer;
	text-decoration: underline;
}

.page-search-result .left-corner {
	min-height: 920px;
}


.views-field-uc-product-image {
	text-align: center;
	position: relative;
}

.region-content .content td {
	text-align: center;
	border: 0 none;
	padding-right: 10px;
	padding-left: 10px;
	width: 30%;
	position:relative;
}


p {
	width: 400px;
}
#photo-search-request-form {
	padding: 20px;
	border: 1px solid #CCC;
	border-radius: 5px;
}

#photo-request-submit-button {
	display: block;
	height: 50px;
	float: none;
}

#photo-request-submit-button .ajax-progress {
	float: right;
	height: 5px;
}

#photo-request-submit-button .form-submit {
	float: right;
}


#search-result-cart {
	width: 100%;
}

.search-summary-photos,
.search-summary-cost {
	float: left;
	clear: left;
	padding-left: 5px;
	font-weight: normal;
	color: #FF6600;
	font-style: normal !important;
}

.ajax-pending {
	background: url(images/ajax-loader.gif);
	height:16px;
	width:16px;
}

.ajax-error {
	background: url(images/ajax-error.gif);
	height:16px;
	width:16px;
}

.search-image-preview {
	border: 1px solid #ccc;
	padding: 0 0 0 7px;
	width: 406px;
}

.search-image-preview .form-submit {
	background-color: #FFF;
}
