.mp_status_success {
	background:url(images/done.png) no-repeat scroll 0 0 transparent;
        height : 25px;
        width : 24px;  
  }
  .mp_status_failure {
	background:url(images/error.gif) no-repeat scroll 0 0 transparent;
        height : 25px;
        width : 24px;  
  }