.node-type-event .region-content{
	width:600px;
	float:left;
}
.event-has-photos .region-sidebar-second {
  margin-top:20px;
}
.node-type-event .region-sidebar-second {
	width: 360px;
}

.node-event {
	margin:0;
	border-top: 		1px solid #d2d2d2;
	border-bottom: 		1px solid #999;
	border-left: 		1px solid #d2d2d2;
	border-right: 		1px solid #999;
	padding: 24px;
	width:550px;	
	border-radius: 20px 0px 0px 0px;
	-moz-border-radius: 20px 0px 0px 0px;
	-webkit-border-radius: 20px 0px 0px 0px;
}
.field {
	margin-bottom: 5px;
	}
/* Event Title */
.node-event h2 {
	float: left;
	margin-left: 35px;
	clear: right;
	display: block; 
	width: 80%;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}

.node-teaser h2 {
	font-size:20px;
	margin-left:35px;
	margin-top:0px;
}

.node-event .field {
	float:left;
	margin-right:20px;
}

.node-event .field-name-body {
	clear:both;
	width:100%;
	}

.geofieldMap {
	margin-top:20px;
	border-style:solid;
	border-width:1px;
	border-color:#555;
	}
.coming-soon {
	padding: 20px;
	background-color: #0452A9;
	font-size: large;
	width: 300px;
	}
	
.coming-soon span {
	margin-top: 10px;
	color: #eee;
	font-family: "Comic Sans MS", cursive, sans-serif;
	}

/* Blocks */
/*.node-type-event .region .title {
	background-color: rgb(26,37,60);
	color: #FFF;
	font-weight:bold;
	height:20px;
	padding-top:10px;
	padding-bottom:10px;
	}*/

/* Block Registered Photographers */
/*.view-event-registered-photographers {
	border-top: 		1px solid rgba(100,100,150,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);
	border-left: 		1px solid rgba(100,100,150,0.8);
	border-right: 		1px solid rgba(0,0,0,0.1);
	}*/
.view-event-registered-photographers .views-row {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 10px;
	}

.node-type-event .region-sidebar-second #user-register {
  	float: right;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px    
}

/* Registration Button */
.node-type-event #center form {
  margin-bottom: 0;
}
#block-sport-event-registration-button #registration-button {
  height: 50px;
}

#block-sport-event-registration-button #registration-button .form-submit {
  width: 200px;
  margin-top: 0;
  margin-bottom: 20px;
}

#block-sport-event-registration-button h2.title {
	display:none;
}
	
#complete-registration {
	margin-top:10px;
	background-color:#99FF33;
	margin-left:40px;	
}

.disabled {
	background-color: #BBCCEE;	/*#FF6600; */
	color:			rgb(26,37,60);	/*#FFFFFF;*/	
}


/* ********* Date styled as calendar ************* */
.node-event .date {
	float:left;
	display:block;
	margin-right:10px;
	margin-left:-26px;
	margin-top:-25px;
	width: 60px;
  height: 36px;
	padding:0px;
	background: #fcfcfc; 
	/* background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);  */
	border: 1px solid #d2d2d2; 
	border-top-left-radius: 10px;
/*  border-bottom-right-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px 0 10px 0px; */
	/* box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1); */
}
.node-event .date p {
		margin:0px;
		font-family: Helvetica, sans-serif;
		font-size: 30px; text-align: center; color:rgb(26,37,60); 
	}
	
.node-event .date p span {
  background: #FF6600; 
  font-size: 10px; font-weight: bold; color: #fff; text-transform: uppercase;  	
  display: block;
  border-top: 3px solid #a13838;
  padding: 6px 0 6px 0;
  border-bottom-right-radius: 10px;
  border-right: 1px solid #FF6600;
}

/* ******** Events List View ********* */
.node-type-event .region-sidebar-second #block-sport-event-search-by-number {
  height: 100px;
  margin-bottom: 20px;
}

.node-type-event .region-sidebar-second h2 {
  clear:both;
  color: #94BB17;
  padding: 0px;
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  font-family: 'Walkway Bold',sans-serif;
}

.node-type-event .region-sidebar-second h3 {
  font-size: 20px;
  color: #4AB0F8;
  font-family: 'Walkway Bold',sans-serif;
}

.node-type-event .region-sidebar-second #field-number {
  width: 130px;
  padding-left: 10px;
  margin: 20px 0 0 0;
}

.block-sport-event {
  padding: 20px;
}

.node-type-event .region-sidebar-second .username{
  color: #898989;
}

.node-type-event .region-sidebar-second p {
  font-size: 0.85em;
  color: #898989;
}

#block-sport-event-registration-link {
  text-decoration: underline;
  padding-top: 0;
}

.node-type-event .block-views {
  padding: 20px;
}

#block-views-event-carousel-block {
  padding: 0;
}

.event-has-photos #search-by-number-form {
  height: 50px;
}

#block-views-upcoming-events-upcoming-events .date-display-single {
  color:#1A253C;
  float: left;
  display: block;
  width: 75px;
  margin-right: 10px;
  border: 1px solid #D2D2D2;
  border-radius: 5px 0 5px 0px;
  padding: 0 10px 0 10px; 
}

.node-event .field-name-field-geolocation {
  clear: both;
  float: left;
  width: 100%;
}

#search-by-number-form {
  height: 70px;
}

.node-type-event #photo-search-request-form {
  margin-top: 15px;
  height: 170px;
}

.node-type-event .form-item-number .form-text {
  width: 150px;
}
.node-type-event .form-item-number {
  float: left;
}

.block-photo-search .form-text {
  height: 30px;
  width: 90%;
}

.node-type-event .block-photo-search .form-item {
  margin-top: 0;  
}


.node-type-event .form-submit {
  margin-top: 20px;
  width: 150px;
  height: 33px;
  font-weight: normal;
}

.block-photo-search {
  padding: 20px;
}

.block-photo-search .form-item-number  .description {
 /* display:none; */
 width: 130px;
}


.node-type-event .view-event-carousel .jcarousel-container-horizontal {
  width: 980px;
  height: 192px;
  padding: 0 40px;
  margin-top: -2px;
  margin-left: -40px;
}

.node-type-event .view-event-carousel .jcarousel-clip-horizontal {
  width: 980px;
  overflow: hidden;
}

.node-type-event .view-event-carousel .jcarousel-item {
  padding: 0;
  height: 192px;
  width: 192px;
  overflow: hidden;
/*  border: 1px solid #CCC;*/
  list-style: none;
  background: #fff none;
}

.node-type-event .view-event-carousel .jcarousel-item-horizontal {
  margin: 0 2px;
}

.node-type-event .view-event-carousel .jcarousel-item-placeholder {
  height: 192px;
  width: 192px;
  background: #fff url("../images/throbber.gif") no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.node-type-event .view-event-carousel .jcarousel-next,
.node-type-event .view-event-carousel .jcarousel-prev {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../images/arrows-runmemo.png");
}

.node-type-event .view-event-carousel .jcarousel-next-disabled,
.node-type-event .view-event-carousel .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
.node-type-event .view-event-carousel .jcarousel-prev-horizontal {
  position: absolute;
  top: 75px;
  left: 10px;
  background-position: 0 0;
}
.node-type-event .view-event-carousel .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}
.node-type-event .view-event-carousel .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}

.node-type-event .view-event-carousel .jcarousel-next-horizontal {
  position: absolute;
  top: 75px;
  right: 10px;
  background-position: 0 -32px;
}
.node-type-event .view-event-carousel .jcarousel-next-horizontal:hover {
  background-position: -32px -32px;
}
.node-type-event .view-event-carousel .jcarousel-next-horizontal:active {
  background-position: -64px -32px;
}

.node-type-event .view-event-carousel .jcarousel-navigation {
  margin: 0;
  padding: 0;
}

.node-type-event .view-event-carousel .jcarousel-navigation li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  background: none;
}

.node-type-event .view-event-carousel .jcarousel-navigation li.active a {
  font-weight: bold;
  text-decoration: none;
}

.node-type-event .view-event-carousel img {
  height: 190px;
  width: 190px;
  overflow: hidden;
  border: 1px solid #384551;
  margin: 0;
}

.node-type-event .view-event-carousel .gallery-link {
    margin-top: -5px;
    width: 190px;
    float: right;
    text-align: center;
    padding: 3px;
    background-color: #384551;
/*    border: 1px solid #585858;*/
    border-bottom-left-radius: 5px;
/*    border-bottom-right-radius: 5px;*/
}
.node-type-event .view-event-carousel .gallery-link a {
      color: #DDD;
}  

.node-type-event .gray-bdr {
  margin-top: 3px;
  margin-bottom: 3px;
}

.node-type-event #block-system-navigation {
  margin-bottom: 5px;
}
