
.node-type-event .region-content{
	min-width:600px;
	float:left;
}
.node-type-event .region-sidebar-second {
	width: 300px;
	}
.node-event {
	margin:0;
	border-top: 		1px solid rgba(100,100,150,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);
	border-left: 		1px solid rgba(100,100,150,0.8);
	border-right: 		1px solid rgba(0,0,0,0.1);
	}
.field {
	margin-bottom: 5px;
	}
/* Event Title */
.node-event h2 {
	float:left;
	margin-left:35px;
	clear:right;
	display:block; 
	width:80%;
	margin-bottom:30px;
	padding-bottom:10px;
	border-bottom: 		1px solid rgba(0,0,0,0.1);
}

.node-teaser h2 {
	font-size:20px;
	margin-left:35px;
	margin-top:0px;
	}

.node-teaser {
	width:600px;
	}
.node-event .field {
		clear:left;
}		
.googlemaps {
	background:transparent url(images/googlemaps.png);
	background-repeat:no-repeat;
	padding-top: 100px;
	padding-left: 150px;
	width:350px;
	display:block;
	height:200px;
  /*	opacity: 0.4; */
	
	}
.coming-soon {
	padding:20px;
	background-color:#0452A9;
	font-size:large;
	width:300px;
	}
	
.coming-soon span {
	margin-top:10px;
	color:#eee;
	font-family:"Comic Sans MS", cursive, sans-serif;
	}

/* Blocks */
.node-type-event .region .title {
	background-color: rgb(26,37,60);
	color: #FFF;
	font-weight:bold;
	height:20px;
	padding-top:10px;
	padding-bottom:10px;
	}

/* Block Registered Photographers */
.view-event-registered-photographers {
	border-top: 		1px solid rgba(100,100,150,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);
	border-left: 		1px solid rgba(100,100,150,0.8);
	border-right: 		1px solid rgba(0,0,0,0.1);
	}
.view-event-registered-photographers .views-row {
	padding-top: 5px;
	padding-bottom:5px;
	margin-left:10px;
	}

.node-type-event .view-empty {
	padding-left:10px;
	padding-right:10px;
}

/* Registration Button */
.node-type-event #center form {
  margin-bottom: 0;
}

#block-sport-event-registration-button h2.title {
	display:none;
}
	
#complete-registration {
	margin-top:10px;
	background-color:#99FF33;
	margin-left:40px;
	
		
}

#block-sport-event-registration-button {
	padding:1px 10px 10px 10px;
	}

#registration-button {
	margin-top:10px;
}
#registration-button input {
	background-color: #BBCCEE;	/*#FF6600; */
	color:			rgb(26,37,60);	/*#FFFFFF;*/
	float:right;
	margin-top:0.5em;
	margin-left:0px;
	line-height:20px;
}

.disabled {
	background-color: #BBCCEE;	/*#FF6600; */
	color:			rgb(26,37,60);	/*#FFFFFF;*/
	float:right;
	margin-top:0.5em;
	margin-left:0px;
	line-height:20px;
}

/* -------------- THE button -------------- */
.button {

/* text */
	text-decoration: 		none;
	/*font: 					24px/1em 'Droid Sans', sans-serif;
	font-weight: 			bold;
	text-shadow: 			rgba(255,255,255,.5) 0 1px 0;  */
	-webkit-user-select: 	none;
	-moz-user-select: 		none;
	user-select: 			none;
	
	
/* layout */
	padding: 				.2em .6em .2em .6em;
	margin: 				.5em;
	display: 				inline-block;
	position: 				relative;
	
	-webkit-border-radius: 	8px;
	-moz-border-radius: 	8px;
	border-radius: 	8px;
	
/* effects */
	border-top: 		1px solid rgba(255,255,255,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);
	
	
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: 	background .2s ease-in-out;
	transition: 		background .2s ease-in-out;
	
/* color 
	color: 				hsl(0, 0%, 0%) !important; */
	background-color: 	hsl(0, 0%, 75%);
	
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 2px 2px; /*  drop shadow */
}

/* -------------- button (tag) -------------- */

.button:hover {
	background-color: 	hsl(0, 0%, 83%);
}



.button:active {
	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(noise.png);
	background-image: 	-moz-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(noise.png);
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(noise.png);

	-webkit-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	box-shadow: 		inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */

	-webkit-transform: 	translateY(.2em);
	-moz-transform: 	translateY(.2em);
	transform: 			translateY(.2em);
}

.button:focus {
	outline: none;
	color: rgba(254,255,255,0.9) !important;
	text-shadow: rgba(0,0,0,0.2) 0 1px 2px;
}

.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover {
	opacity: 			.5;
	cursor: 			default;
	color: 				rgba(0,0,0,0.2) !important;
	text-shadow: 		none !important;
	background-color: 	rgba(0,0,0,0.05);
	background-image: 	none;
	border-top: 		none;

	-webkit-box-shadow: inset rgba(255,254,255,0.4) 0 0.3em .3em, inset rgba(0,0,0,0.1) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.3) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.4) 0 0.3em .3em, inset rgba(0,0,0,0.1) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.3) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	box-shadow: 		inset rgba(255,254,255,0.4) 0 0.3em .3em, inset rgba(0,0,0,0.1) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.3) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */

	-webkit-transform: 	translateY(5px);
	-moz-transform: 	translateY(5px);
	transform: 			translateY(5px);
}


.ajax-progress .message {
  display:none;
}

.ajax-progress {
 float: left;
 height: 5px;	
}

/* -------------- THE Nice Message -------------- */
.nice-message {

/* text */
	text-decoration: 		none;
	/*font: 					24px/1em 'Droid Sans', sans-serif;
	font-weight: 			bold;
	text-shadow: 			rgba(255,255,255,.5) 0 1px 0;  */
	-webkit-user-select: 	none;
	-moz-user-select: 		none;
	user-select: 			none;
	
	
/* layout */
	padding: 				.5em .6em .4em .6em;
	margin: 				.5em;
	display: 				inline-block;
	position: 				relative;
	
	-webkit-border-radius: 	8px;
	-moz-border-radius: 	8px;
	border-radius: 	8px;
	
/* effects */
	border-top: 		1px solid rgba(255,255,255,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);
	
	
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: 	background .2s ease-in-out;
	transition: 		background .2s ease-in-out;
	
/* color */
	color: 				hsl(0, 0%, 0%) !important;
	background-color: 	hsl(0, 0%, 75%);
	
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 1px 1px, /* color border */
						rgba(0,0,0,0.2) 0 1px 1px; /*  drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 1px 1px, /* color border */
						rgba(0,0,0,0.2) 0  .2em 1px;  /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 1px 1px, /* color border */
						rgba(0,0,0,0.2) 0 1px 1px;  /* drop shadow */
}

/* ********* Date styled as calendar ************* */

.node-event {
	border-radius: 20px 0px 0px 0px;
	-moz-border-radius: 20px 0px 0px 0px;
	-webkit-border-radius: 20px 0px 0px 0px;
}

.date {
	float:left;
	display:block;
	margin-right:10px;
	margin-left:-26px;
	margin-top:-25px;
	width: 60px; height: 40px;
	padding:0px;
	background: #fcfcfc; 
	background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	border: 1px solid #d2d2d2;
	border-radius: 10px 0 10px 0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px 0 10px 0px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
	.date p {
		margin:0px;
		font-family: Helvetica, sans-serif;
		font-size: 30px; text-align: center; color:rgb(26,37,60); 
	}
	
	.date p span {
		background: #FF6600; 
		background: linear-gradient(top, #FF6600 0%, #A32900 100%);
		background: -moz-linear-gradient(top, #FF6600 0%, #A32900 100%);
		background: -webkit-linear-gradient(top, #FF6600 0%, #A32900 100%);
		font-size: 10px; font-weight: bold; color: #fff; text-transform: uppercase; 	
		display: block;
		border-top: 3px solid #a13838;
		border-radius: 0 0 10px 0px;
		-moz-border-radius: 0 0 10px 10px;
		-webkit-border-radius: 0 0 10px 0px;
		padding: 6px 0 6px 0;
	}

@-moz-document url-prefix() {
    .date {
        padding: 16px 0 0 0;
    }
    .date p span {
    	padding: 9px 0 3px 0;
    }
}

/* ******** Events List View ********* */

.view-events .views-submit-button {
	float:right;

	}

.view-events .views-exposed-widget .form-submit {
	margin-top:1.4em;
	line-height:20px;

	}

.view-events .views-exposed-widget .form-submit input {
		background: url("../images/search.png") no-repeat scroll 0 0 !important;
border: 0 none!important;
cursor: pointer!important;
height: 40px!important;
width: 108px!important;
}
.view-filters { 
	padding:15px;
	background-color:#FFF;
	border-width:1px;
	border-style:solid;
	border-color:rgb(255,102,0);
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}