/* 
    Document   : ubercart_custom
    Created on : Jul 16, 2012, 12:48:26 PM
    Author     : quickstart
    Description:
        Purpose of the stylesheet follows.
*/

/*root { 
  display: block;
}*/

.node-type-product .product_preview {
	float:left;
        border: 1px solid #DEE4E7;
        padding:2px;
}

.node-type-product .field-name-uc-product-image {
	margin-bottom:0px;
}

.node-type-product .product_content {
	min-width:400px;
	float:right;
        padding: 10px; 
        border: 1px solid #DEE4E7; 
        border-radius: 5px 5px 5px 5px;        
}

.node-type-product .node {
        border: 1px solid #DEE4E7; 
        border-radius: 5px 5px 5px 5px;  
}

.node-type-product #prev-next-container {
	margin-left: 3px;
  position: absolute;
	background-color: #FFF;
	opacity: 0.6;
	padding-left: 10px;
	padding-right: 10px;
	width: 380px;
	height: 25px;
	border-bottom: 1px solid #333;
}

.node-type-product #prev-next-container a {
	color: #000;
	font-size: 14pt;
}

.node-type-product #prev-product {
	float: left;
}

.node-type-product #next-product {
	float: right;
}


.node-type-product  .price-slider {
    width: 150px; 
    margin-bottom: 10px; 
    margin-top: 10px;
}

.node-type-product #product-nice-message-container {
  float: right;
  color: #BBB;
  font-family: helvetica;  
  font-size:13px;  
}

.page-cart-checkout .image-thumbnail {
	float:left;
	margin:10px;
	margin-right:auto;
	display:block;
}

.page-cart-checkout .messages.status {
  display: none;
}

.image-thumbnail img {
	float:right;
	max-height:100%;
	max-width:100%;
	}

.image-thumbnail .remove-cart-item {
	display:none;
	top:10px;
	position: relative;
	margin-left:90px;
	background-color:#384551;
	color:#FFF;
	border-radius:50px;
	font-weight:bold;
	width:20px;
	height:20px;
	cursor:pointer;
	text-align:center;
}

.page-photographer-my-sales 
#edit-created-value-year_chzn, #edit-created-value-month_chzn{
  width: 100px!important;
}

.page-cart .order-review-table td {
	vertical-align: middle;
}

.page-cart .order-review-table {
	line-height: inherit;
}	