/* 
    Document   : ubercart_custom
    Created on : Jul 16, 2012, 12:48:26 PM
    Author     : quickstart
    Description:
        Purpose of the stylesheet follows.
*/

/*root { 
  display: block;
}*/

.node-type-product .product_preview {
	width:400px;
	float:left;
        border: 1px solid #DEE4E7;
}

.node-type-product .product_content {
	min-width:400px;
	float:right;
        padding: 10px; 
        border: 1px solid #DEE4E7; 
        border-radius: 5px 5px 5px 5px;        
}

.node-type-product .node {
        width: 100%;
        border: 1px solid #DEE4E7; 
        border-radius: 5px 5px 5px 5px;  
}

.node-type-product  .price-slider {
    width: 150px; 
    margin-bottom: 10px; 
    margin-top: 10px;
}

.node-type-product #product-nice-message-container {
  float: right;
  color: #BBB;
  font-family: helvetica;  
  font-size:13px;  
}

/*jquery.tagsinput.css*/
div.tagsinput { 
  border:1px solid #CCC; 
  background: #FFF; 
  padding:5px; 
  width:300px; 
  height:100px; 
  overflow-y: auto;
}

div.tagsinput span.tag { 
  border: 1px solid #a5d24a; 
  -moz-border-radius:2px; 
  -webkit-border-radius:2px; 
  display: block;
/*  float: left; */
  padding: 5px; 
  text-decoration:none; 
  background: #cde69c; 
  color: #638421; 
  margin-right: 5px; 
  margin-bottom:5px;
  font-family: helvetica;  
  font-size:13px;
}

div.tagsinput span.tag a { 
  font-weight: bold; 
  color: #82ad2b; 
  float: right;
  text-decoration:none; 
  font-size: 11px;  
}

div.tagsinput input { 
  width:80px; 
  margin:0px; 
  font-family: helvetica; 
  font-size: 13px; 
  border:1px solid transparent; 
  padding:5px; 
  background: transparent; 
  color: #000; 
  outline:0px;  
  margin-right:5px; 
  margin-bottom:5px; 
}

div.tagsinput div { 
  display:block; 
  float: left;
} 

.tags_clear {
  clear: both; 
  width: 100%; 
  height: 0px; 
}

.not_valid {
  background: #FBD8DB !important; 
  color: #90111A !important;
}

.page-cart-checkout .image-thumbnail {
	float:left;
	margin:15px;
	display:block;
	width:100px;
	height:100px;
	
}

.image-thumbnail img {
	float:left;
	max-height:100%;
	max-width:100%;
	}

.image-thumbnail .remove-cart-item {
	top:10px;
	position: relative;
	margin-left:90px;
	background-color:red;
	color:#FFF;
	border-radius:50px;
	font-weight:bold;
	width:20px;
	height:20px;
	cursor:pointer;
	text-align:center;
}
