/* 
    Document   : ubercart_custom
    Created on : Jul 16, 2012, 12:48:26 PM
    Author     : quickstart
    Description:
        Purpose of the stylesheet follows.
*/

/*root { 
  display: block;
}*/

.node-type-product .product_preview{
	width:400px;
	float:left;
        border: 1px solid #DEE4E7;
}

.node-type-product .product_content{
	min-width:500px;
	float:right;
        padding: 10px; 
        border: 1px solid #DEE4E7; 
        border-radius: 5px 5px 5px 5px;        
}
