
.page-photographer #select-event-function {
	height:80px;
	padding:20px;
	margin-top: 2px;
  background-color: #384551;
}

.page-photographer .price-slider #amount,
.page-photographer #select-event-function label {
  color: #FFF;
}

.page-photographer .select_event_title {
   float:left;
   padding:20px 5px 16px 0px;
   font-family:'Walkway Bold',sans-serif;
   font-size:36px;
   color:#94BB1F;
  }
  
.page-photographer .upload_title {
font-family:'Walkway Bold',sans-serif;
  font-size:36px;
  color:#94BB1F;
  float:left;
  padding:15px 0 15px 0;
}
.plupload {
	width:978px;
}

.photographer-drag-and-drop-form .form-type-plupload 
{
margin-top:20px;
		 float:left;
display:block;
        }
        
.page-photographer-upload .form-item-events-select {
   float:left;
}

.page-photographer #edit-box {
   /*position:relative;
   top:-30px;*/
   float:left;
   display:block;
   clear:both;
   position:relative;
  margin-left:0px;
	margin-right:0px;
  padding-top: 0;
	padding-left:0px;
	padding-right:0px;
	width:100%;
}

.page-photographer-upload .form-item {
	margin-top:0px;
	}
.page-photographer-upload .ui-slider {
	margin-top:10px;

}
.form-type-plupload .description {
	
    color:#898989;
    float:left; 
    right:16px;
        
}
.page-photographer-upload .price-slider {
    width: 350px; 
    float: left;
    margin-left:50px;
}
.page-photographer-upload .plupload_droptext {
	height:70%;
	margin:25px auto;

	background-color:#FFFFFF;
	border: 1px dashed;
	border-radius: 5px;
	width:80%;
	border-color:rgb(255,102,0);
	}

.plupload_scroll .plupload_filelist {
  height:250px;
  overflow-y:scroll;
  border:1px solid #ccc;
  background-color:#f3f3f3;
  width:970px;
 }

.page-photographer .file_list {
   padding:0px 0 8px 7px;
   font-weight:bold;
   position: relative;
  /* left: -18px;*/
}

.plupload_filelist li {
	margin:0px;
}


.page-photographer .ind_prog {
  display:none;
  border:1px solid #ccc;
  height:10px;
  width:96%; 
  background:#CCC;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
}
.page-photographer .fieldset-wrapper {
   float:left;
   position:relative;
   z-index:0;
 }

.page-photographer .guide-line {
  float:left;
  clear:both;
  height:30px;
  position:relative;
  top:18px;
  z-index:1;
}

.page-photographer .region-content {
	width:100%;	
	padding-bottom:1px;
	margin-bottom:20px;
    min-height:500px; 
}

#upload_section {
	float:left;
	clear:both;
	width:100%;
	}


	
/* testing area */
.plupload_file_progress {
	background-color:#94BB1F;
	float:left;
	display:block;
	height:16px;
	margin-top:2px;
	  border-radius: 5px;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	}
	
.plupload_file_progress_background {
	float:left;
	display:block;
	background-color:#FFF;
	width:450px;
	margin-left:50px;
	height:20px;
	  border-radius: 5px;
 	 -webkit-border-radius: 5px;
 	 -moz-border-radius: 5px;
	}
	
.drag_drop_text {
	margin-top:40px;
	font-size:18pt;
	line-height:0px;
	display:block;
	color:#4AB0F8;
	}
.start_upload_text {
	margin-top:20px;
	line-height:15px;
	display:block;
	clear:both;
	}
.plupload_start {
	display:none;
	}
/*
 .plupload_filelist li {
   border-bottom:1px solid #DDD;
   padding:10px 8px;
  border:1px solid #d8d8d8;
  background:#FFF;
  width:878px;
}

 .plupload_filelist_header {
  display:none;
 }

.page-photographer .plupload_filelist_footer {
   height:22px;
   line-height:20px;
   vertical-align:middle;
  position:relative;
  top:-22px;
  left:5px;
  background:none!important;
  color:#90B5D1;
  text-decoration:underline;
  padding:0!important;
  float:left;
}

.plupload_filelist_footer a:hover {
  text-decoration:none;
}

.plupload_content {
   position:relative;
top:289px;
}
.plupload_content1 {
   position:relative;
   top:-183px;
 }

 .plupload_file_name {
   float:left;
}
.plupload_upload_status {
   left: 340px;
    position: relative;
    top: -20px;
	display:block;
 }



 .plupload_file_size,.plupload_file_status,.plupload_file_action {
  text-align:left;
 }

 .plupload_filelist .plupload_file_name {
  width:auto;
  padding:0 10px;
 }

 .plupload_file_action {
   float:right;
  width:25px;
  height:25px;
   margin-left:15px;
 }

 .plupload_file_action * {
   display:none;

 	width:24px;
  	height:25px;
 }

   li.plupload_uploading {
  width:100px;
 }

li.plupload_droptext {
line-height:20px;
   list-style-type:none;
 padding-top: 85px;
 list-style: none;
 }


.page-photographer .plupload {
 border:solid 1px #ccc;
 	width:100%;
  float:left;
 }

.page-photographer #edit-box {

   float:left;
   position:relative;
}
.page-photographer .with-tabs {
   display:none;
}
.plupload_content {
	top:100px!important\0/;
}

.page-photographer #photographer-drag-and-drop-form .description{
		top:460px!important\0/;
}
.page-photographer #file_list{
		height: 20px;
    left: 565px;
    position: relative;
    top: -41px;
    width: 112px;
}

       */