/* 
    Document   : photo_tagger
    Created on : Dec 27, 2012, 9:24:55 PM
    Author     : Bulat
    Description:
        Purpose of the stylesheet follows.
*/

.main {
  margin-top:20px;
}

.page-photographer-tag #inner-wrapper {
  overflow: hidden;
}

.image-pool {
  background-color: #DDD;
  min-height: 400px;
  min-width: 400px;
  float: left;
}

.image-pool .active {
  
}

.image-pool .inactive {
  display: none;
}

.image-pool img {
  min-width: 400px;
  min-height: 400px;
}

.image-pool #counter {
  color: #FFF;
  padding: 5px;
  position: absolute;
  font-weight: 800;
  z-index: 2;
}

#counter-background {
  position: absolute;
  background-color: #000;
  opacity: 0.2;
  width: 100px;
  height: 30px;
  z-index: 1;
}
  
#current {
  float: left;
  min-width: 30px;
  text-align: right;
  padding-right: 3px;
}

#total {
  float: left;
}

#tagger-scope {
  display: none;
  margin-bottom: 20px;
}

#tagger-input {
  display: block;
  float: left;
  clear: right;
  margin-left: 20px;
  min-height: 150px;
}

#tagger-input fieldset {
  padding: 0;
  margin: 0;
}

#helpbar {
  height:230px;
  float: left;
  margin-left: 20px;
  background: #ddd;
}

#helpbar .inactive { 
  opacity: 0.4;
}

#helpbar a {
  cursor: pointer;
  text-decoration: none;
}

#helpbar p {
  margin: 0;
  padding: 0;
}

#helpbar .shortcut {
  float: left;
  clear: both;
  padding: 0px 10px;
  margin: 10px 0px;
}


#helpbar .shortcut .key-action {
  font-size: 11px;
  font-weight: 600;
  color: #114D97;
}

#helpbar .shortcut .key-combo {
  float:left;
  width: 40px;
  font-size: 12px;
  font-weight: 600;
  color: #596573;
  margin-right: 8px;
}

.tagsinput-title,
.shortcut-title {
  width: 100%;
  display: inline-block;
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  background-color: #666;
}


#message-bar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left:0;
  padding: 20px;
  width: 100%;
  height: 20px;
  font-size: 15px;
  color: #FFF;
  background-color: #333;
}

#message {
  float: left;
  margin-left: 50px;
}

.page-photographer-tag #inner-wrapper {
  height: 750px;
}

#message-bar .icons {
  margin-right: 100px;
  float: right;
}

#message-bar .icon {
  margin-left: 5px;
  display: block;
  float: left;
  height: 32px;
  width: 32px;
}

#message-bar .delete-icon {
  background-image: url('images/delete_action.png');
}

#message-bar .delete-error-icon {
  background-image: url('images/delete-error.png');
}

#message-bar .save-icon {
  background-image: url('images/saving.png');
}

#message-bar .save-error-icon {
  background-image: url('images/saving-error.png');
}