@charset "utf-8";
body {
	margin:0px;
	padding:0px;
background:none !important;
}
/*div {
	display:block;
}*/
a {
	outline:none;
	text-decoration:none!important;
}
img {
	border:0 none;
}
.float-L {
	float:left;
}
.float-R {
	float:right;
}
.clr {
	clear:both;
}
#wrapper {
	width:100%;
	min-width:980px;
background:none !important;
}
#inner-wrapper {
	width:980px;
	margin:0 auto;
}
.header {
	width:980px;
}
#logo-floater{
width:260px;
float:left;
}
.region-header{
float:left;
margin-left:20px;
width:700px;
}
#block-superfish-1{
float:left;
margin-left:10px;
}
#block-block-2{
float:right;
margin:0;
}
.logo {
	background:url(../images/logo.png) no-repeat;
	width:259px;
	height:45px;
	margin-top:20px;
}
.nav {
	margin-top:20px;
	margin-left:15px;
}
.nav ul {
	margin:0;
	padding:0;
}
.nav ul li {
	list-style:none;
	float:left;
	padding:20px;
}
.nav ul li a {
	color:#90b5d1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	float:left;
}
.nav ul li a:hover,.nav ul li a.active {
	color:#ff6600;
}
.login-btn {
	
	height:28px;
	padding-top:30px;
        margin-top:10px;
}
.login-btn-lft {
	background:url(../images/login-btn-lft.png) no-repeat;
	width:12px;
	height:29px;form-item-runner-number
}
.login-btn-mid {
	background:url(../images/login-btn-mid.png) repeat-x;
	height:29px;
}

.login-btn-mid img{
float:left;
margin-top:3px;
margin-left:12px;
}

.login-btn-mid span {
	color: #636363;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 4px;
	margin-left: 7px;
	margin-top: 2px;
}
it
.login-btn-mid img {
	margin-top: 3px;
	padding: 0;
	margin-left: 15px;
}
.login-btn-rig {
	background:url(../images/login-btn-rig.png) no-repeat;
	width:12px;
	height:29px;
}
.login-logo {
	background:url(../images/login-logo.png) no-repeat;
	width:25px;
	height:25px;
	margin-left:10px;
}
.facebook-logo {
	background:url(../images/facebook-login.png) no-repeat;
	width:25px;
	height:25px;
	margin-left:10px;
}
.facebook-logo:hover
{
	background:url(../images/facebook-login-hover.png) no-repeat;
}
.twitter-logo {
	background:url(../images/twitter-login.png) no-repeat;
	width:25px;
	height:25px;#tabs-wrapper
	margin-left:10px;
}
.twitter-logo:hover {
	background:url(../images/twitter-login-hover.png) no-repeat;
}
.mt3 {
	margin-top:2px!important;
	margin-left:10px;
}
.slider {
	width:980px;
	margin-top:10px;
}
.slider-left {
	background:url(../images/slider.jpg) no-repeat;
	width:498px;
	height:500px;
	position:relative;
	top:-25px;
	margin-left:10px;
}
.cart {
float:right;
	margin-top:5px;
}
.cart-img {
	background:url(../images/cart.png) no-repeat;
	width:28px;
	height:18px;
	margin-top:10px;
margin-right:5px;
}
.cart-cont {
	width:120px;
float:left;
}
.shopping {
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
}
.items {
	color:#ff6600;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-top:2px;
}
.cart-cont span img {
	margin-top: 7px;
	margin-left: 3px;
}
.slider-cont {
	width:430px;
}
.slider-separator {
	background:url(../images/slider-separator.png) no-repeat;
	width:430px;
	height:9px;
	margin-top:15px;
}
.slider-cont-top h1 {
	color:#94bb1f;
	font-family:'Walkway Bold', sans-serif;
	font-size:36px;
	font-weight:normal;
	letter-spacing:2px;
	margin:0;
	padding:0;
	margin-top:25px;
}
.slider-cont p {
	font-family:'Futura LT Light', sans-serif;
	font-size:18px;
	margin:0;
	padding:0;
	font-weight:normal;
}
.slider-cont select {
	width: 299px;
	height: 39px;
	padding: 10px 5px 10form-item-runner-numberpx 5px;
	margin-top:10px;
	margin-right:20px;
}
.text-box {
	width:299px;
	height:39px;
	margin-top: 15px;
}
.text-box input {
	width:167px;
	height:34px;
	padding:2px;
	text-indent:7px;
}
.border-radius {
	color:#1a253c;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border: 1px solid #DEE4E7;
}
.text-box input.search {
	background:url(../images/search.png) no-repeat;
	width:109px;
	height:37px;
	margin-left:17px;.cart 
	border:none;
	cursor:pointer;new_account_heading
}
.text-box input.search:hover
{
	background:url(../images/search-hover.png) no-repeat;
}
.w299 {
	width:299px;
}
.slider-cont-bottom h1 {
	color:#4ab0f8;
	font-family:'Walkway Bold', sans-serif;
	font-size:36px;
	font-weight:normal;
	letter-spacing:2px;
	margin:0;
	padding:0;
	margin-top:25px;
}
.text-box input.get-started {
	background:url(../images/get-started.png) no-repeat;
	width:109px;
	height:37px;
	margin-left:17px;
	border:none;
	cursor:pointer;
}.cart 
.text-box input.get-started:hover
{
	background:url(../images/get-started-hover.png) no-repeat;
}
.gray-bdr {
	width:100%;
	height:10px;
	background:#e8e8e8;
}
.content {
	width:100%;
	margin-top:20px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	padding-bottom:1px;
	margin-bottom:20px;
min-height:333px;
}
.cont-header-bg {
	background:url(../images/cont-header-bg.png) repeat-x;
	width:100%;
	height:56px
}
.cont-header-bg h1 {
	color:#63676b;
	font-family:'Walkway Bold', sans-serif;
	font-size:30px;
	font-weight:normal;
	margin-top:18px;
	margin-left:25px;
}
.cont-lft {
	width:471px;
	height:262px;
	background:url(../images/cont-inner-bg.png) repeat;
	border-top:1px solid #dedede;
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin-left:12px;
	margin-top:10px;
	margin-bottom:10px;
}
.cont-rig {
	width:471px;
	height:262px;
	background:url(../images/cont-inner-bg.png) repeat;
	border-top:1px solid #dedede;
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin-left:12px;
	margin-top:10px;
	margin-bottom:10px;
}
.cont-lft-header {
	color:#444;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	padding-top:20px;
	padding-bottom:10px;
	border-bottom:1px solid #dedede;
}
.find-palyers {
	margin-left:2px;
	margin-top:20px;
}
.find-palyers ul {
	list-style:none;
	margin:0;
	padding:0;
}
.find-palyers ul li {
	float:left;
	margin-right:15px;
}
.find-txt
{
	margin-top:8px;
	margin-right:2px;
	padding:4px;
}
.w-275
{
	width:275px;
}
.find-btn {
	background:url(../images/find-btn.png) no-repeat;
	width:68px;
	height:24px;
	border:0 none;
	cursor:pointer;
	margin-right: 22px;
	margin-top: 10px;
}
.find-btn:hover
{
	background:url(../images/find-btn-hover.png)  no-repeat;
}
.footer
{
	width:100%;
	height:116px;
	background:url(../images/footer-bg-new.png) repeat;
	margin-top:20px;
	border-top:1px solid #d5d5d5;
}
.footer-inner
{
	width:980px;
	text-align:center;
	margin:0 auto;
}
.social-icon
{
	margin-left:20px;
}
.social-icon img
{
	margin-top:25px;
	margin-right:20px;ster
}
.footer-inner p
{
	font-family:Arial, Helvetica, sans-serif;
	color:#444;
	font-size:11px;
	font-weight:bold;
	margin-top:25px;
	margin-right:20px;
}
.footer-inner p smallSelect Event

    * Select Event
    * halfmarathon2011
    * halfrace
    * multirace
    * ultramarathon

Trade
pictures you have taken...
Select Event

    * Select Event
    * halfmarathon2011
    * halfrace
    * home_page
    * multirace
    * ultramarathon

image 	image 	image 	.cart image 	image
image 	image 	image 	image 	imageSelect Event

    * Select Event



    * halfmarathon2011
    * halfrace
    * multirace
    * ultramarathon

Trade
pictures you have taken...
Select Event

    * Select Event
    * halfmarathon2011
    * halfrace
    * home_page
    * multirace
    * ultramarathon

image 	image 	image 	image 	image
image 	image 	image 	image 	image
image 	image 	image

image 	image 	image

{
	color:#797979;
	font-weight:normal;
}

.form-item-runner-number{
float:left;.cart 
}
#edit-search{
float:left;
margin-top:13px;
margin-left:10px;
}
#tabs-wrapper{
border:none !important;
}
.page-login #user-register-form .form-item-field-phone-number-und-0-value{
margin-bottom:0;
}
.captcha{
background:none !important;
padding:0 !important;
margin:0 !important;
}
#find,#trade{
 color: #94BB1F;
    font-family: 'Walkway Bold',sans-serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 25px 0 0;
    padding: 0;
position:relative;
right:75px;
}
#great_photos,#taken_picture{
font-family: 'Futura LT Light',sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 10px 0;
    padding: 0;
position:relative;
right:75px;
}
#trade{
color:#4AB0F8;
}
#select-event-runner-get-photos{
margin:0 !important;
}
#edit-setfield,#edit-sellfield,#edit-box{
margin:0 !important;
background:none !important;
border:0 none !important;
}
#event_runner_chzn{
width:185px !important;
}



/**************************************Login Page********************************/
.page-user #center{
width:980px;
float:left;
margin:0 !important;;
paddding:0;
}
.page-user #squeeze{
margin:0 !important;
padding:0;
width:980px;
}
.page-user .right-corner{
float:left;
width:980px;
}
.page-user .left-corner{

    width:980px;
float:left;
}
.page-user #user-login{
margin-top:20px;
}
.page-user h1{
 color: #94BB17;
    font-family: 'Walkway Bold',sans-serif;
    font-size: 26px;
    font-weight: normal;

}
.page-user #sidebar-second h1{
color: #4AB0F8;
font-size: 26px;
}
.page-user #sidebar-second{
border: 1px solid #D2D2D2;
    height: 667px;
    width: 470px;
float:right;
}
.page-user .content{
border:none;
}
.page-user .content {
-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
}
.page-user #sidebar-second .block {
padding:0;
}
.page-user #register-form{
border: 1px solid #D2D2D2;
    float: left;
    margin-right: 15px;
    width: 490px;
margin-bottom:20px;
}
#login-links, #login-message,.page-user-register #login-form .description,.page-user .login-forgot{
display:none !important;
}
.page-user #login-form{
border: 1px solid #D2D2D2;
    float: right;
 width: 470px;
display:block !important;
}
#user-register-form{
float:left;
margin-top:20px;
}
#user-register-form .form-item,#user-login .form-item{
    float: left;
    margin-bottom: 15px;
width:490px;
}
 #user-register-form label,#user-login label{
 color: #1A253C;
    float: left;
    font-family: arial;
    font-size: 13px;
    font-weight: 300;
    margin-top: 14px;
    text-align: right;
    width: 136px;
}

#user-register-form input,#user-login input{
	border: 1px solid #DEE4E7;
    border-radius: 5px 5px 5px 5px;
    color: #1A253C;
    color: #1A253C;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 40px;-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
    padding: 2px;
    text-indent: 7px;
    width: 300px;
margin-left:8px;
}


#user-register-form .sidebar input{
width:80px;
margin-left:10px;
}





#user-register-form .captcha{
float:left;
border:none;
padding:none !important;
}
#user-register-form #edit-actions{
float:left;
}
#user-register-form  #paypal_icon{
float: right !important;
 position: relative;
    right: 35px;
    top: 96px;
padding:0 !important;
*top:124px;
*right:12px;
}
.page-user-edit .password-strength, .page-user-edit .description
{
    display:none!important;
}
#user-register-form #edit-account .description{
display:none;
}
#user-register-form .password-strength,#user-register-form .password-confirm{
display:none;
}
#user-register-form #edit-pass-pass2{
display:block;
}
#user-register-form .form-item-pass-pass2{
margin-left:8px;
}
#user-register-form .field-widget-options-onoff .option{
width:149px;
}
#user-register-form .field-widget-options-onoff input{
 left: 15px;
    position: relative;
    top: 4px;
width:10px;
}
#user-register-form .field-widget-options-onoff .description{
 float: right;
    margin-top: 14px;
    width:285px;
}
#user-register-form .form-type-checkbox{
margin-top:0;
}
#user-register-form .fieldset-description{
display:none;
}
#user-register-form .captcha form-wrapper span{
 color: #1A253C;
    float: left;
    font-family: arial;
    font-size: 13px;
    font-weight: 300;
}



/********************HOme Page**********************************************************/
.one-sidebar .content span table{
display:none !important;
}
.one-sidebar #center .content{
border:none !important;
width:430px !important;
float:left;
-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
}
.page-runner #inner-wrapper #center,.page-runner #inner-wrapper #center #squeeze{
float:left;
margin:0;
width:980px;
}
.page-runner #block-system-main .content{
float:right;
}
.page-user- #block-system-main{
margin:0 !important;
}
/********************login Page**********************************************************/
.page-user #user-login{
margin:60px 0 auto;

    width: 470px;
}
.page-user #user-login .description{
display:none;
}
.page-user .content{
min-height:480px;
-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
}
.page-user .login-forgot{
float:left;
margin-left:50px;
}
.new_account_heading{
float:left;
font-size: 26px !important;
left: 80px;
    position: relative;
    top: 50px;
margin:0;
}
.login_heading{
float:right;
font-size: 26px !important;
 position: relative;
    right: 10px;
    top: 50px;
margin:0 !important;
color:#4ab0f8 !important;
}
#user-register-form{
margin-top:40px;
}


.content .login #login-form{
margin:0 auto !important;
height:auto !important;
float:none !important;
}
.page-login #edit-actions--2 #edit-submit--2{
-moz-border-radius: 5px 5px 5px 5px;
width:170px;
background:#f5f5f5;
border:1px solid #bfbfbf;
border-radius:5px;
position:relative;
left:150px;
color: #34373A;
cursor:pointer;
font-family:helvetica,san-serif;
font-size:14px;
font-weight:bold;
}

.page-login #edit-actions #edit-submit,.page-user #edit-actions #edit-submit{
width:100px;
background:#f5f5f5;
color: #34373A;
border:1px solid #bfbfbf;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-o-border-radius:5px;
position:relative;
left:137px;
cursor:pointer;
font-family:helvetica,san-serif;
font-size:14px;
font-weight:bold;
}
.captcha img{
float:right;
position: relative;
    right: 162px;
}
.captcha .fieldset-wrapper{
float:left;
border:none !important;
height: auto !important;
}
.captcha .description{
display:none;
}
.password-suggestions{
border:none !important;
width:338px !important;
float:right;
}
.log_in{
 left: 396px;
    position: relative;
    top: 59px;
width:200px;
    font-size: 26px !important;;
    font-weight: normal;
}
.toboggan-unified{
margin-bottom:20px;
}





#runner_number{
	border: 1px solid #DEE4E7;
    border-radius: 5px 5px 5px 5px;
    color: #1A253C;
    color: #1A253C;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 34px;-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
    padding: 2px;
    text-indent: 7px;
    width: 167px;
margin-left:8px;
}
   /*background: none repeat scroll 0 0 #F5F5F5;
border: 1px solid #BFBFBF;
    color: #34373A;
*/
#edit-search{
	background: url("../images/search.png") no-repeat scroll 0 0 !important;
    border:0 none!important;
    cursor: pointer!important;
    height:37px!important;
    width: 109px!important;
}
#edit-search:hover
{
	background:url(../images/search-hover.png) no-repeat!important;
}

#edit-get-started{
	background: url("../images/get-started.png") no-repeat scroll 0 0 !important;
    border:0 none!important;
    cursor: pointer!important;
    height:37px!important;
    width: 109px!important;
}
#edit-get-started:hover
{
	background:url(../images/get-started-hover.png) no-repeat!important;
}
.chzn-container-single .chzn-single{
width:299px!important; 
height:39px!important; 
}
.chzn-drop {
width:307px!important; 
}
.chzn-search input{
width:250px!important; 
}
.chzn-container-single .chzn-single span
{
padding:8px!important;
}

.skin-default{
background: url("../images/slider-bg.png") no-repeat scroll 0 0 !important;
width:498px;
height:500px;
}
.views-slideshow-cycle-main-frame{
top:6px;
left:12px;
z-index: 0;
}
.views-slideshow-cycle-main-frame .img
{
z-index:-1;
}


#register-form #edit-actions #edit-submit{
width:170px;
background:#f5f5f5;
border:1px solid #bfbfbf;
border-radius:5px;
position:relative;
left:150px;
color: #34373A;
cursor:pointer;
font-family:helvetica,san-serif;
font-size:14px;
font-weight:bold;
}

.chzn-container-single .chzn-single div{
padding:8px!important; 
 
}




#branding img{
padding-top:25px!important; 
margin-left:-8px;
}
ul.main-menu {
  float:left!important;
  top:30px;
  left:5px;
  color:#90B5D1!important;
  z-index:10;
}
ul.links li, ul.inline li {
  border-left:1px solid #ccc!important;
  padding:5px 12px 5px 12px!important;
  margin-bottom:8px!important;
  text-transform:uppercase;
}
ul.main-menu li a:hover{
  color:#FF6600!important;
  /*background:#e0e0e0!important;*/
  font-size:15px;
  text-align:center; 
  padding:4px 12px;
/*  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;*/
}
ul.main-menu li a, ul.main-menu li a:link, ul.main-menu li a:visited {
  padding:4px 12px!important;
  margin-top:6px;
}
#sidebar-first.sidebar {
  float:left;
  z-index:-1;
}

ul.main-menu li a, ul.main-menu li a {
  color:#90B5D1!important;
  background:none!important;
  font-size:15px;
  text-align:center; 
}
ul.nice-menu-down li
{
  border-top:0;
  border-right:0;
  border-bottom:0;
  padding:20px;
  background:0 none;
}
/*ul, .block ul, ol
{
   margin-top:20px;
   margin-left:15px;
}
ul.nice-menu a
{
   float: left;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 14px;
   color:#90B5D1;
}
ul.nice-menu a:hover
{ 
   color:#ff6600;
}
ul.nice-menu-down li.menuparent
{
   background-color:#fff;
}
ul.nice-menu-down li.menuparent:hover
{
   background-color:#fff;
}
ul.nice-menu, ul.nice-menu ul
{
   border-left:0;
   border-top:0;
   margin-top:5px;
}
.content ul.sf-menu li ul li
{
    padding:10px 10px 0 20px;
   	
}
.content ul.sf-menu li ul li ul 
{
	margin-left:30px;     
	margin-top:1px;
}*/
.content ul li ul li
{
   border-left:0;
   border-top:0;
}
#block-block-3
{
   float:right;
}
#block-nice-menus-1
{
  float: left;
    left: -55px;
    position: relative;
    top: -53px;
    width: 445px;
}
.content ul.sf-menu li ul {
    background:#fbfbfb;/*url(../images/menu-arrow.png) no-repeat 20px -5px*/
	border-radius:6px;
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
	width:162px!important;
   margin:7px 0 0 0!important;
   padding:0px!important;
   border:1px solid #c4c4c4;
}
.content ul.sf-menu li ul li 
{
  margin:0px!important;
  padding:0px!important;
  padding:2px;
  border-bottom:1px solid #e0e0e0;
  background-color:none!important;
}
.content ul.sf-menu li ul li a:hover{
border-radius:0px;
   	-moz-border-radius:0px;
    -webkit-border-radius:0px;
	background:none!important;
}
.content ul.sf-menu li:hover div#main-arrow {
   background: url(../images/menu-arrow.png) no-repeat;
   width:14px;
   height:8px;
   position:relative;
   /*newly edited*/
   top:-1px;
   left:15px;
   display: block;
   position:relative;
   z-index:999;
}
.content ul.sf-menu li:hover li#menu-450-1 div#main-arrow {
	display: none;
}
.sf-item-3 {
   position:relative;
}
/*.content ul.sf-menu li ul li ul {
   margin-top:-15px;
}*/
.content ul.sf-menu li ul li ul li
{
	margin-top:-8px;
}
/*.content ul.sf-menu li ul li.content ul.sf-menu li ul li:hover
{
	 background:#bdbdbd;
         border-bottom:1px dotted #000;
}*/

/*--superfish Menu--*/
.sf-menu.sf-style-light-blue a
{
	border:0 none;
}
ul.main-menu li
{
	padding:5px;
	border-left:1px solid #ccc;
}
.sf-menu ul
{
    z-index:1;
}
#views_slideshow_cycle_main_image_gallery-block_1
{
    z-index:-1;
}
/***********************************/



.breadcrumb{
padding-top:5px;
padding-bottom:30px;
}

.breadcrumb a,.arrow{
float:left;
}

.breadcrumb .start{
width:10px;
height:26px;
background: url("../images/bread.png") no-repeat scroll 0 0 !important;
float:left;
}


.breadcrumb .end{
float:left;
width:10px;
height:26px;
background: url("../images/bread.png") no-repeat scroll 0 0 !important;
background-position:-28px 0!important;
}

.breadcrumb a{
height:26px;
background: url("../images/bread-mid.png") repeat-x!important;
padding:2px;
}

.breadcrumb .arrow{
width:10px;
height:26px;
background: url("../images/bread.png")repeat-x !important;
background-position:24px 0!important;
}
.page-login .description {
 display:none;
}
.page-login .content #sign-in-fieldset {
  float:right;
  
  padding:0;
  margin:0 0 0 0;
}
.page-login .content #register-fieldset {
  float:left;
   background:none!important;
border:none !important;
  margin:0 0 0 0!important;
  padding:0;
}
.page-login .login-forgot {
   text-align:left;
   position:relative;
   left:142px;
   float:left;
   width:100%;
}
.page-login .fieldset-legend {
   display:none;
}
.page-login .new_account_heading {
  position:relative;
  z-index:1;
  top:48px;
  font-family:'Walkway Bold',sans-serif;
  color:#94BB17;
}
.page-login .login_heading {
  position:relative;
  z-index:1;
  top:47px;
  font-family:'Walkway Bold',sans-serif;
  color:#4AB0F8 !important;
}
.page-login #user-login label {
  position:relative;
  z-index:1;
}
.page-login #tabs-wrapper {
  display:none;
}
.page-login .content {
  border:none!important;
  -moz-box-shadow:none!important;
  -webkit-box-shadow:none!important;
  -o-box-shadow:none!important;
   box-shadow:none!important;
}
.page-login #user-register-form{
   border: 1px solid #D2D2D2;
      width: 490px;
margin-right:20px;
margin-top:0;
}
.page-login #user-register-form > div,.page-login #user-login > div{
margin-top:60px;
}
.page-login #user-register-form #edit-actions--2{
float:left;.captcha
}
.page-login #user-login{
border:1px solid #D2D2D2;
    width: 470px;
}
.page-login #register-fieldset .fieldset-wrapper {
  margin-right: 10px;
    padding: 0;
    width: 490px;

}

.page-login #sign-in-fieldset .fieldset-wrapper {
  width:470px;
margin:0;
float:right;
padding:0;

}

.page-login #user-register-form #paypal_icon {
  position:relative;
  right:9px;
top:54px;

float:right;
}
.page-login .option .description {
  display:block!important;
}
.page-login #edit-field-term .description {
  display:block!important;
}
.page-login #register-fieldset #edit-actions #edit-submit {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #BFBFBF;
    color: #34373A;
    cursor: pointer;
    font-family: helvetica,san-serif;
    font-size: 14px;
    font-weight: bold;
    left: 150px;
    position: relative;
    width: 170px;
}

.page-user .profile h3{
font-weight: bold;
font-size: 100%;
margin-bottom:0 !important;
}
.page-user .profile dt{
margin-top:0 !important;
}

.page-user #block-system-main{
margin-left:200px;
}

.page-user #user-login{
    border: 1px solid #BFBFBF;
    height: 235px !important;
    margin: 0 !important;
    padding-top: 35px;
    width: 500px !important;
}
.page-user .form{
margin-top:50px!important;
}

.page-user-password #edit-actions #edit-submit{
width:auto;
padding:7px;
}
.toolbar-drawer #edit-actions{
float:left;

padding:0;
margin-left:25px;
} 
.toolbar-drawer #edit-actions #edit-submit{
float:left;
}
.toolbar-drawer #edit-actions #edit-preview{
float:right;
}
.page-user-password #user-pass {
width:545px;
border:1px solid #D2D2D2;
margin-top:20px;
}
.page-user-password #user-pass > div{

margin-left:20px;
margin-top:20px;
}

.sf-shadow ul {
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topright: 0px;
    }

/*************************Events*******************************************/
.page-node- .region-content{
float:left;
width:980px;
}
.page-node-  .content{
float:left;
-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
	min-height:0;
}
.page-node- .content .node {
    border: 1px solid #BFBFBF;
    margin: 10px auto 0;
    padding: 10px;
padding:10px;
}

@font-face {
	font-family:'Futura LT Light';
	src: url('../FuturaLight.ttf');
	src: url('../FuturaLight.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Walkway Bold';
	src: url('../Walkway Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

/*------*****---------*/
#event_drop {
   border-bottom:1px solid #999;
   padding:0 0 0 0;
   float:left;
   width:732px;
   height:63px;
}
.page-photographer .select_event_title {
   float:left;
   padding:23px 0 0 10px;
   width:238px!important;
   height:40px;
   border-bottom:1px solid #999;
}
.page-photographer #edit-box {
   /*position:relative;
   top:-30px;*/
   float:left;
   position:relative;
}
.page-photographer .upload-progress {
   position:relative;
   top:237px;
   color: #94BB1F;
   font-family: 'Walkway Bold',sans-serif;
   font-size: 36px;
   width: 100%;
   border-top:1px solid #999;
   float:left;
   display:none;
}
.page-photographer #edit-file {
   position:relative;
   top:-26px;
   
}
.page-photographer #edit-upload {
   background:url(../images/start-upload.png) no-repeat;
   width:151px;
   height:39px;
   text-indent:999;
   border:none;
   float:left;
   border:0 none;
   cursor:pointer;
   outline:none;
   position:relative;
   top:-17px;
   left:791px;
}
.page-photographer .description 
{
	color: #898989;
    float: right;
    position: absolute;
    top: 594px;
	right:16px;
}
.page-photographer .file_list {
   padding:8px 0 8px 7px;
   font-weight:bold;
}
.page-photographer .ind_prog {
  display:none;
  border:1px solid #ccc;
  height:10px;
  width:96%; 
  background:#CCC;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
}
.page-photographer .fieldset-wrapper {
   float:left;
   position:relative;
   z-index:0;
}
.page-photographer .content {
	width:100%;
	margin-top:20px;
	border-radius:0px !important;
	-webkit-border-radius:0px!important;
	-moz-border-radius:0px!important;
	-o-border-radius:0px!important;
	box-shadow:none!important;
	-webkit-box-shadow:none!important;
	-moz-box-shadow:none!important;
	-o-box-shadow:none!important;
	padding-bottom:1px;
	margin-bottom:20px;
    min-height:500px;
}
#tabs-wrapper {
  position:relative;
  margin-bottom:0px!important;
  top:32px;
}

div.error, table tr.error {

 background-color:#fce39c!important;
 
 
}

div.messages {
   
    position: relative;
    top: 28px;
}
/*newly added*/
.content ul.sf-menu li.sf-item-3 {
	position: relative;
}
.content ul.sf-menu li ul li ul {
	margin: -1px 0 0 -17px!important;
	border-left:none;
	border-radius:0 6px 6px 0;
	-moz-border-radius:0 6px 6px 0;
	-webkit-border-radius:0 6px 6px 0;
}
.region-header {
   margin-top:6px;
}
.login-btn-mid span {
   margin-top:1px!important;
}
 a#guide{
  text-decoration:underline!important;
}
a#guide:hover{
  text-decoration:none;
}
.page-photographer .with-tabs {
   display:none;
}

#block-views-event-node-refrence-block-1 table tr td{

border:1px solid #CCCCCC;
text-align:center;

 
}

/* Profile page */
#user-profile-form label {
    color: #1A253C;
    float: left;
    font-family: arial;
    font-size: 13px;
    font-weight: 300;
    margin-top: 14px;
    text-align: right;
    width: 136px;
}
#user-profile-form input {
    -moz-box-shadow: none !important;
    box-shadow:none!important;
    -webkit-box-shadow:none!important;
    border: 1px solid #DEE4E7;
    color: #1A253C;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 40px;
    margin-left: 8px;
    padding: 2px;
    text-indent: 7px;
    width: 300px;
    border-radius:5px;
    -mox-border-radius:5px;
    -webkit-border-radius:5px;
}
#user-profile-form fieldset.collapsible
{
   display:none;
}
#user-profile-form .confirm-parent, #user-profile-form .password-parent
{
    clear: left;
    margin: 0;
    width: 670px;
}
#user-profile-form .description  {
    color: #898989;
    left: 145px;
    line-height: 150%;
    margin-bottom: 0.75em;
    margin-top: 5px;
    position: relative;
    width: 300px;
}
#user-profile-form .form-type-checkbox 
{
   width:600px;
}
#user-profile-form .form-type-checkbox input
{
   margin-top:17px;
}
#user-profile-form .form-type-checkbox .description
{
   left: 120px;
    position: relative;
    width: 328px;
}
#user-profile-form #paypal_icon
{
    color: red;
    float: right;
    position: relative;
    right: 500px;
    top: 12px;
    padding-top:0px!important;
    padding-right:0px!important;
}
#user-profile-form .password-suggestions
{ 
    left: -168px;
    position: relative;
    top: -53px;
}

/* For Recent event home page */
.page-runner .content 
{
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 1px;
    width: 100%;
    min-height:0px!important;
    border-radius: 0!important;
    -moz-border-radius: 0!important;
    -webkit-border-radius: 0!important;
    box-shadow:none!important;
    -moz-box-shadow:none!important;
    -webkit-box-shadow:none!important;
}
.page-runner .content #recent-event1-image div
{
  margin-top: 0px;
  margin-right:10px;
}
.page-runner .content #recent-event1-image .form-submit
{
  	margin-top:-11px;
	cursor:pointer;
    background: url("../images/find-btn.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 24px;
    width: 68px;
}
.page-runner .content #recent-event1-image .form-submit:hover, .page-runner .content #recent-event2-image .form-submit:hover {
    background: url("../images/find-btn-hover.png") no-repeat scroll 0 0 transparent;
}

.form-item-runner-number-event2
{
  float:left;
  margin-right:10px;
}
.page-runner .content #recent-event2-image
{
  margin-top:-11px;
}
.page-runner .content #recent-event2-image .form-submit
{
 	 margin-top:11px;
	cursor:pointer;
    background: url("../images/find-btn.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 24px;
    width: 68px;
}

.page-search-result .region-content .content table tr td  {
	border:1px solid #cccccc;
	text-align:center;
}

.page-search-result  #sidebar-second .block .content{
float:right;
 width: 437px;
}

.page-search-result  #sidebar-second .clearfix:after{
display:inline !important;
}
.page-search-result  #sidebar-second {
display:inline !important;
}
.page-search-result .fieldset-wrapper
{
width:980px;
border:1px solid #ccc;
float:left;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}
.page-search-result .form-item-events-select-runner
{
  float:left;
  padding:20px;
}
.page-search-result .number_search
{
padding:20px;
}
#event-search,#my_number
{
    color: #94BB1F;
    font-family: 'Walkway Bold',sans-serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
#my_number
{
color: #4AB0F8!important;
}
.page-search-result #edit-search
{
    margin-top:48px;
}
.page-search-result .region-photo-search .content
{
 min-height:0px;
}
.page-search-result #center
{
width:530px;
float:left;
}
.page-search-result #sidebar-second
{
float: right;
    position: relative;
    right: 20px;
    top: 250px;
    width: 430px;
}
.page-search-result #sidebar-second .region-sidebar-second
{
position:absolute;
}
.page-search-result .left-corner .clearfix
{
  width:980px;
}
.plupload_upload_status
{
 left: 390px!important;
}
.sidebar-second .region-sidebar-second .content
{
    box-shadow:none!important;
    -webkit-box-shadow:none!important;
   -moz-box-shadow:none!important;
   border-radius:0px!important;
    -webkit-border-radius:0px!important;
-moz-border-radius:0px!important;	
}
.views_slideshow_cycle_main img
{
   width:467px;
   height:469px;
}
.page-search-result .region-content .view-content .views-field-uc-product-image .field-content span#node_check_id
{
   display:none!important;
}
.page-search-result .region-content .view-content .views-field-uc-product-image .field-content .node_check{
width:15px;
position:absolute;
top:0px;
right:0px;
}
#node_check_id{
display:none!important;
}
.page-search-result .region-content .content table tr td{
position:relative;

}
.page-search-result .region-content .content table tr td .views-field-nid .field-content .node_check{
float: right;
    margin-top: -118px;
    position: relative;
    right: 0;
    top: 0;
    width: 15px;
    z-index: 10000;
}
.page-search-result .region-content .content table tr td,.page-search-result .region-content .content table tr th{
width:170px;
height:158px;
padding:0px 10px !important; 
}
.page-search-result .region-content .content table tr td{
text-align:justify;
}
/*.page-search-result .region-content .view-content table  {
position:relative;
top:0px;
left:0px;
}*/
